
<h2>Lista de Classificados:</h2>


<div class="container">
<div class="ocultarLista" *ngIf="minhaProp else meuTemplate"> Clique para ocultar a lista:
  <button class="botãoOcultar" (click)="toggleButton()">Ocultar Lista</button>
  </div>


<div class="list" *ngIf="minhaProp">
<app-person
  *ngFor="
    let person of listPeople; 
    let i = index;
    let isOdd = odd;"

  [personName]="person.name"
  [personAge]="person.age"
  [personIndex]="i"
  [isOdd]="isOdd"
  [isSelected]="personSelectedIndex === i"
  (personSelected)="selectPerson($event)">
</app-person>
</div>
  
  <ng-template #meuTemplate>
    <div class="mostrarLista">Clique para exibir a lista:
    <button class="botãoExibir" (click)="toggleButton()">Exibir Lista</button>
    </div>
  </ng-template>
  </div>


  <!--<div class="item item--highlighted">
    <p class="item__name">Vinicios Junior</p>
    <p class="item__age">27 Anos</p>
  </div>
  <div class="item item--odd">
    <p class="item__name">Gabriela de Fátima</p>
    <p class="item__age">23 Anos</p>
  </div>
   <div class="item">
    <p class="item__name">Paulo Guedes</p>
    <p class="item__age">33 Anos</p>
  </div>
</div> -->


